In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("C:\\Users\\chait\\Downloads\\archive (3)\\players.csv)
df

SyntaxError: unterminated string literal (detected at line 5) (3654159572.py, line 5)

### Data description and cleaning

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop('Unnamed: 0',axis=1)
df

### Analysis between market value and position

In [ ]:
df['New_Position'] = np.where((df['Position'] == 'Centre-Forward') | 
                                (df['Position'] == 'Left Winger') | 
                                (df['Position'] == 'Right Winger')|
                                (df['Position'] == 'Second Striker'),'Attacker',
                                np.where((df['Position'] == 'Attacking Midfield') | 
                                         (df['Position'] == 'Central Midfield') | 
                                         (df['Position'] == 'Defensive Midfield') | 
                                         (df['Position'] == 'Left Midfield') | 
                                         (df['Position'] == 'Right Midfield'), 'Midfielder',
                                         np.where(df['Position'] == 'Goalkeeper', 
                                                  'Goalkeeper','Defender')))

df

In [ ]:
position = df.groupby('New_Position')['Markey Value In Millions(£)'].mean()

In [ ]:
position.plot()
plt.title('Mean Market Value by Position')
plt.xlabel('Position')
plt.ylabel('Mean Market Value')
plt.show()

In [ ]:
df.groupby('New_Position')['Markey Value In Millions(£)'].mean()

#### Observations:
1. Attackers(Right Wingers, Left Wingers, Centre Forwards,Second Strikers) have the highest market Value
2. Defenders have the lowest market value.
3. Order of market value based on position: Attackers>Mid-fielders>Goalkeepers>Defenders

### Analysis between market value and country

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(data=df,x='Country',y='Markey Value In Millions(£)',errorbar=None)
plt.title('Mean Market Value by Country')
plt.xlabel('Country')
plt.xticks(rotation=90)
plt.ylabel('Mean Market Value')

In [ ]:
df['Country'].value_counts()

In [ ]:
df.groupby('Country')['Markey Value In Millions(£)'].sum().sort_values(ascending=False)

#### Observations:
1. England,France,Brazil,Spain & Portugal have the most number of players and also the highest total market value.
2. Countries like Egypt and South Korea have high averages despite having lower number of players

### Analysis between market value and age

In [ ]:
plt.figure(figsize=(12, 8))
sns.distplot(df['Age'], hist=True)
plt.title("Density Plot of the Ages", fontsize=16)
plt.show()

In [ ]:
df.groupby('Age')['Markey Value In Millions(£)'].sum().sort_values(ascending=False).head(10)

In [ ]:
df.groupby('Age')['Markey Value In Millions(£)'].mean().sort_values(ascending=False).head(10)

#### Observation:
1. Most players in age group 20-30
2. Highest market value sum is of age 24
3. Highest mean market value is of age 34, followed by 18

### Analysis between market value and club

In [ ]:
frequent_clubs = df['Club'].value_counts().head(20)
frequent_clubs

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(data=df,x='Club',y='Markey Value In Millions(£)',order=frequent_clubs.index,errorbar=None)
plt.xlabel('Most Frequent Clubs')
plt.ylabel('Market Value')
plt.xticks(rotation=90)
plt.show()

In [ ]:
df.groupby('Club')['Markey Value In Millions(£)'].mean().sort_values(ascending=False).head()

In [ ]:
df.groupby('Club')['Markey Value In Millions(£)'].sum().sort_values(ascending=False).head()

#### Observations: 
1. Manchester City hav the highest valued players in terms of sum as well as mean
2. Manchester city is followed by Bayern Munich, Paris Saint-Germain, Inter Milan & Liverpool FC as the most valuable teams

### Analysis between market value and players

In [ ]:
df.groupby('Name')['Markey Value In Millions(£)'].sum().sort_values(ascending=False).head()

#### Observations: 
1. Kylian Mbappé is the most valued player, followed by Erling Haaland, Harry Kane, Mohamed Salah, Jack Grealish

### Comparing the two most valuable players based on various parameters.

In [ ]:
top_2 = df[df['Name'].isin(['Erling Haaland', 'Kylian Mbappé'])]
sns.barplot(y='Name', x='Markey Value In Millions(£)', data=top_2)
plt.title('Market Value Comparision')

In [ ]:
sns.barplot(x='Name', y='Goals', data=top_2)
plt.title('Goal Comparision')

In [ ]:
sns.barplot(x='Name', y='Assists', data=top_2)
plt.title('Assists Comparision')

In [ ]:
top_2

#### Observations:
1. Kylian Mbappé is French while Erling Haaland is Norwegian
2. Both play in an attacking role, at the Centre-Forward position
3. Kylian Mbappé has a higher market value.
4. Erling Haaland has more number of goals.
5. Kylian Mbappé has more number of Assists